/NetBeansProjects/BaseDeDatos/nbproject/private/
/NetBeansProjects/BaseDeDatos/build/
/NetBeansProjects/EjercicioBaseDatos/nbproject/private/
/NetBeansProjects/EjercicioBaseDatos/build/
/NetBeansProjects/CambioContenedores/nbproject/private/
/NetBeansProjects/CambioContenedores/build/
/ApiPersona-Java/nbproject/private/
/ApiPersona-Java/build/
/ApiPersonaV2/nbproject/private/
/ApiPersonaV2/build/
/PokeApi-Java/nbproject/private/
/ApiPersonaV2/dist/
/PokeApi-Java/build/
/NetBeansProjects/DigimonAPI/nbproject/private/
/NetBeansProjects/DigimonAPI/build/
